draggable-list {
  display: block;
  width: 100%;
}
.list-element {
  display: block;
  width: 100%;
  background-color: #888;
}
.element-handle {
  display: inline-block;
  width: 20px;
  cursor: pointer;
}
.element-text {
  display: inline-block;
  width: calc(100% - 20px);
}
